## js dependencies don't need to push
node_modules/
bower_components/
package-lock.json

## Build and test artifacts
.sass-cache/
.tmp/
dist/
.tools/
coverage/

## IDE specific files
# Intellij
.idea/
*.iml
# Vim temporary files
*.swp
